body.loginPage {
  background: url("https://darkfoxus.github.io/fail-overfl0w-berry-external-assets/custom-splash.png") center center no-repeat;
  background-size: cover;
}

.formFields {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2em;
  border-radius: 1em;
}

.pageTitleWithDefaultLogo {
  display: none; /* Hides Jellyfin logo if needed */
}
